<!-- <% include ../partials/header %> -->

<!DOCTYPE html>
<html>
<title>Add booking</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="app.css" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<body>


    <div class="grid-container">
        <% locations.forEach(function(locations) { %>
            <div class=”item”>
                <h2 class=”itemtitle”> City:
                    <%= locations.city %>
                </h2>
                <p class=”itemp”> Included:
                    <%= locations.included %>
                </p>
                <p class=”itemp”> Extras:
                    <%= locations.extras %>
                </p>
                <p class=”itemp”> Price:
                    <%= locations.price %>
                </p>
            </div>
            <% }); %>
    </div>

    
    <%- JSON.stringify(locations) %>



        <!-- Book -->
        <div class="w3-container">
            <h2>Fill in your info below to book this trip</h2>

            <input class="w3-input w3-padding-16 w3-border" id="fullName" type="text" placeholder="Name" required name="Name">
            <p id="checkName"></p>
            <input class="w3-input w3-padding-16 w3-border" id="email" type="text" placeholder="Email" required name="Email">
            <p id="checkEmail"></p>
            <input class="w3-input w3-padding-16 w3-border" id="robo" type="text" placeholder="2000 + 20 = " required name="robo">
            <p id="checkRobo"></p>
            <p><button class="w3-button w3-black w3-padding-large" type="submit" onclick="checkForm()">BOOK</button></p>
            <p id="success"></p>
        </div>


        </div>



        <script>
            function checkForm() {
                x = document.getElementById("fullName").value;
                if (x == "") {
                    document.getElementById("checkName").innerHTML = "The field must not be empty"
                } else if (/\s+/.test(x)) {
                    document.getElementById("checkName").innerHTML = "Input correct"
                } else {
                    document.getElementById("checkName").innerHTML = "You need to enter your first name and the last name"
                }

                y = document.getElementById("email").value;
                testY = (/@/.test(y));

                if (testY == false) {
                    document.getElementById("checkEmail").innerHTML = "The email address is invalid"
                } else if (testY == true) {
                    document.getElementById("checkEmail").innerHTML = "Email address correct!"
                }

                z = document.getElementById("robo").value;
                if (z == 2020) {
                    document.getElementById("checkRobo").innerHTML = "Thanks for verifying."
                } else {
                    document.getElementById("checkRobo").innerHTML = "Try again."
                }

                if (/\s+/.test(x) && testY == true && z == 2020) {
                    document.getElementById("success").innerHTML = "Successfull registration"
                }
            }
        </script>


</body>

</html>

<!-- <% include ../partials/footer %> -->